.ClientSearchingStation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ClientSearchStation's children elements */
.stationNameContainer {
    height: 90%;
    width: 90%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox_stationName {
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 1px solid var(--button-border--color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
}

.button_movePrev,
.button_moveNext {
    width: 10%;
    height: calc(100% - 15%);
    margin: 0px;
    margin-bottom: 14%;
    padding: 0px;
    border: 0px;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.button_movePrev {
    margin-right: 3.5%;
}

.button_moveNext {
    margin-left: 3.5%;
}