.login_form {
    width: 100%;
}

.login_form__alert {
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login_form__button_field {
    padding-left: calc(100% - 180px);
}

.login_form__button {
    cursor: pointer;
    color: var(--basic-white);
    background-color: var(--active-color);
    font-size: 13px;
    font-weight: 600;
    border: 3px solid #cbd8e4;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 5px;
    width: 80px;
}

.login_form__button:hover {
    background-color: var(--active-hover-color);
}