.Develop {
    height: calc(100vh - 10px - 10px);
    width: calc(100vw - 10px - 10px);
    padding: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}


/* Home's children elements */
.develop__header {
    flex: 0 0 40px;
    margin-bottom: 10px;
}

.develop__body {
    flex: 1 0 calc(100% - 65px - 10px);
    display: flex;
    flex-direction: column;
}


/* home__header's children elements */
.develop__header__title {
    font-size: 28px;
    margin: 0px;
    text-align: center;
}


/* home__body's children elements */
.mode_select_button {
    flex: 1 0 calc(50% - 10px - 10px);
    margin: 10px;
    font-size: 20px;
}