.Develop {
    height: calc(100vh - 10px - 10px);
    width: calc(100vw - 10px - 10px);
    padding: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}


/* Home's children elements */
.develop__header {
    flex: 0 0 40px;
    margin-bottom: 10px;
}

.develop__body {
    flex: 1 0 calc(100% - 65px - 10px);
    display: flex;
    flex-direction: column;
}


/* home__header's children elements */
.develop__header__title {
    font-size: 28px;
    margin: 0px;
    text-align: center;
}


/**/
.appconfig {
    flex: 1 0 calc(100% - 15%);
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* appconfig's children elements */
.appconfig__combobox,
.appconfig__button {
    width: 80%;
    height: 10%;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 1px solid var(--button-border--color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.2rem;
    font-weight: 550;
}