.PanelMiddle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



/* PanelMiddle's children elements */
.body {
    flex: 1 0 100%;
    display: flex;
}



/* body's children elements */
.reserved_table {
    flex: 48 0 calc(50% - 5px - 5px - 1px);
    padding: 5px;
    border-right: 1px dashed var(--dividerline-color);
}

.detected_bus {
    flex: 50 0 calc(50% - 5px - 5px - 1px);
    padding: 5px;
}