.DetectingBus {
    width: 100%;
    height: 100%;
}



/* DetectingBus's childredn elements */
.recieved_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}