.PanelSearchingStation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PanelSearchingStation's children elements */
.textbox_stationName {
    height: 10%;
    width: 85%;
    margin: 0px;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 1px solid var(--button-border--color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
}

.button_movePrev,
.button_moveNext {
    height: 80%;
    width: 5%;
    margin: 0px;
    margin-bottom: 5%;
    padding: 0px;
    border: 0px;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
}

.button_movePrev {
    margin-right: 2%;
}

.button_moveNext {
    margin-left: 2%;
}