.ReservedBusTable {
    width: 100%;
    height: 100%;
}



/* ReservedBusTable's children elements */
.select_station {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserved_bus_table {
    width: 100%;
    height: 100%;
}

.select_station_modal__wrapper {
    width: 70vw;
    height: 70vh;
    border: 3px solid var(--component-border-color);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--component-background-color);
}



/* select_station's children elements */
.select_station__button {
    width: 60%;
    height: 15%;
    border: 3px solid var(--button-border-color);
    border-radius: 6px;
    margin-bottom: 20%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.select_station__button:hover {
    background-color: var(--button-hover-color);
}



/* reserved_bus_table's children elements */
.reserved_bus_table__empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserved_bus_table__empty h2 {
    margin-bottom: 20%;
}