:root {
  --basic-white: #fff;
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "", sans-serif;
  --body-color: #2f2f33;
  --alert-bg-color: #e9f3ff;
  --subtitle-color: #83838e;

  --active-color: #2260ff;
  --active-hover-color: #80a3fc;
  --active-positive-color: #08b66d;
  --active-positive-hover-color: #7be6b9;
  --active-negative-color: #e06060;
  --active-negative-hover-color: #d19a9a;
  --disable-color: #525252;
}