.ClientMiddle {
    height: 100%;
    width: 100%;
}

/* body's children elements */
.selectAction {
    height: calc(100% - 5%);
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}


/* authentication's children elements */
.selectAction button {
    width: 80%;
    height: 90%;
    border-radius: 8px;
    border: 1px solid var(--button-border--color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1.8rem;
    font-weight: 550;
    cursor: pointer;
    user-select: none;
}