.ClientSelectingBookmarkedBus {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ClientSelectingBookmarkedBus's children elements */
.busInfoContainer {
    height: 70%;
    width: 70%;
    margin-bottom: 10%;
    border-radius: 8px;
    border: 1px solid var(--button-border--color);
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.busInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.busInfo_bookmark {
    background: linear-gradient(to bottom,
            yellow 0%,
            yellow 10%,
            /* 여기서 10%는 노란색이 끝나는 위치입니다 */
            transparent 10%,
            transparent 100%
            /* 여기서 100%는 투명색이 끝나는 위치입니다 */
        );
}

.button_movePrev,
.button_moveNext {
    width: 10%;
    height: calc(100% - 15%);
    margin: 0px;
    margin-bottom: 14%;
    padding: 0px;
    border: 0px;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
}

.button_movePrev {
    margin-right: 3.5%;
}

.button_moveNext {
    margin-left: 3.5%;
}


/* busInfo's children elements */
.busInfo h1 {
    font-weight: 550;
}

.busInfo h3 {
    font-weight: 400;
}